<h3>{{ ctrl.team.name }}</h3>
<a class="player-active" href="#" ui-sref="league.new-player({id: ctrl.player.id})">Add Player</a>
<a class="team-active" href="#" ui-sref="league.edit-team({id: ctrl.team.id})">Edit Team</a>
<a class="team-active" href="#" ng-click="ctrl.deleteTeam(ctrl.team)">Delete Team</a> 

<h2>Players</h2>
<ul class="list">
  <li ng-repeat="player in ctrl.team.players">
    <a href="#" ui-sref="league.player({id: player.id})"><h4>{{player.first_name}} {{player.last_name}}</h4></a>
  </li>
</ul>

<h1>Create Player</h1>
<form validate ng-submit="ctrl.addPlayer(ctrl.player, ctrl.team)" class="add-players" name="form">
   <label>First Name</label> <input type="text" ng-model="ctrl.player.first_name" required="required" name="first_name">
   <div ng-messages="form.first_name.$error" ng-if="form.first_name.$touched">
     <div ng-message="required">First name is required</div>
   </div><br> 

   <label>Last Name</label> <input type="text" ng-model="ctrl.player.last_name" required="required" name="last_name">
   <div ng-messages="form.last_name.$error" ng-if="form.last_name.$touched">
     <div ng-message="required">Last name is required</div>
   </div><br>

   <label>Position</label> <input type="text" ng-model="ctrl.player.position" required="required" name="position">
   <div ng-messages="form.position.$error" ng-if="form.position.$touched">
     <div ng-message="required">Position is required</div>
   </div><br>

   <label>Jersey Number</label> <input type="text" ng-model="ctrl.player.jersey_number"><br>

   <input type="submit" value="Add Player">
</form>