<nav class="navbar navbar-default">
  <div class="navbar-container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#" ui-sref="league" class="brand-logo">Baseball Factory</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a href="#" ui-sref="league.divisions">Divisions</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="league.teams">Teams</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="league.players">Players</a></li>
        <li ui-sref-active="active"><a href="#" ui-sref="about">About</a></li>
      </ul>
    </div>
  </div>
</nav>