body {
  height: 3000px;
}

.division-active {
  text-decoration: none;
  color: white;
  padding: 8px;
  background-color: green;
  border: solid 2px black;
}
.team-active {
  padding: 8px;
  background-color: green;
  border: solid 2px black;
  text-decoration: none;
  color: white;
}
.active {
  background-color: blue;
}

.list {
  padding: 0px;
}

.flatback {
  background-color: white;
}

.footer {
  display: none;
  bottom: 0;
  right: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: black;
}

small {
  color: white;
}

small a{
  color: white;
}