.navbar navbar-default{
  position: absolute;
  width: 100%;
}
/*
.container {
  position: fixed;
}
#body {
  position: fixed;
  height: 100%;
}
*/ 

.footer {
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  background-color: black;
}

.division-active {
  text-decoration: none;
  color: white;
  padding: 8px;
  background-color: green;
  border: solid 2px black;
}
.team-active {
  padding: 8px;
  background-color: green;
  border: solid 2px black;
  text-decoration: none;
  color: white;
}
.active {
  background-color: blue;
}

.list {
  padding: 0px;
}

.flatback {
  background-color: white;
}

