<h3>{{ ctrl.division.name }}</h3>

<a class="division-active" href="#" ui-sref="league.edit({id: ctrl.division.id})">Edit Division</a>
<a class="division-active" href="#" ng-click="ctrl.deleteDivision(ctrl.division)">Delete Division</a> 

<h2>Teams</h2>
<ul class="list">
  <li ng-repeat="team in ctrl.division.teams">
    <a href="#" ui-sref="league.team({id: team.id})">{{team.name}}</a>
  </li>
</ul>

<h1>Create Team</h1>

<form validate ng-submit="ctrl.addTeam(ctrl.team, ctrl.division)">
   <label>Team</label>
   <input type="text" ng-model="ctrl.team.name">

   <input type="submit" value="Add Team">
</form>