<nav class="navbar navbar-default">
  <div class="navbar-container">
    <div class="navbar-header">
      <%= link_to 'Baseball Factory', root_url, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="division">Divisions</a></li>
        <li><a ui-sref="team">Teams</a></li>
        <li><a ui-sref="about">About</a></li>
      </ul>
    </div>
  </div>
</nav>