<!DOCTYPE html>
<html>
<head>
  <title>BaseballFactory</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %> 
</head>
<body ng-app="app">

<%= yield %>

<footer class="col-md-12 text-center">
  <small>&cope; 2016 Developed by <a href="https://www.linkedin.com/in/pedro-acosta-280b9910a?trk=nav_responsive_tab_profile"></a></small>
</footer>
</body>
</html>